//변수
$wh:#fff;
$border:#ff7f50;
$fontColor:#222;
$fontColor2:#aaa;
$bgColor:#eee;
$bestColor:#ffe4c4;
$orderColor:#000080;
//----------------------------------mixin
@mixin flex-center {
    display:flex; flex-flow:row nowrap;
    align-items:center; justify-content: center;
}
//----------------------------------
//----------------------------------skip
.lang, .all_nav, .sub {display:none;}//----------------------------------design
#popup {background-color:$bgColor; text-align:center; padding:15px 0;
    a {color:$fontColor; font-weight:700; font-size:0.91rem;}
}
header { width:1200px; margin:0 auto; background:aqua;
    .top {position:relative;
        h1 {text-align:center; padding:50px 0;
            a{img{}}}
        .right {
            @include flex-center; background:pink;
            position:absolute; right:0; bottom:15px;
            li:first-child {position:relative;
                > a::after {
                    content:''; display:inline-block;
                    background:url(../images/arr.png) no-repeat;
                    width:10px; height:10px; margin-left:7px;
                }
                .lang {
                    display:block; background:#fff;
                    position:absolute; z-index:910;
                    border:1px solid $fontColor2; left:-50%;
                    a {font-size:0.84rem;}
                }
            }
            li {
                a {
                    text-transform:uppercase; position:relative;
                    padding:10px 7px; display:block;
                    span {
                        border:2px solid $border; font-size:0.84rem;
                        border-radius:5px; padding:3px 10px;
                        position:absolute; width:max-content;
                        left:-50%; top:30px;
                    }
                }
            }
        }
        .all_nav {
            display:block; background:$wh; 
            border:1px solid $fontColor2; border-radius:10px;
            position:fixed; left:50%; top:50%;
            width:700px; height:500px; z-index:999;
            transform:translate(-50%, -50%);
            text-align:center; line-height:500px;
            .close {
                position:absolute; right:20px; top:20px;
                font-size:1.5rem; font-weight:700; padding:10px;
            }
        }
    }
    .btm {
        nav {
            > ul {@include flex-center;
                > li { position:relative; 
                    > a {text-transform:uppercase;padding:15px;display:block;}
                    > a:hover {color:$border;}
                    .sub {
                        display:block; background:$wh;
                        position:absolute; width:100%; z-index:900;
                        border:1px solid $fontColor2;
                        li {a {padding:10px;display:block;}}
                    }
                }
            }
        }
    }
}//header end
main {
    #right_popup {position:fixed; right:0; top:0;
        display:flex; align-items: center; 
        
        #popup_btn {background:#fff; width:30px;
            position:absolute; left:-30px; top:50%;
            border:1px solid $fontColor2;
            display:flex; flex-flow:column;
            a:first-child {background: $border; }
            a {border-bottom:solid 1px $fontColor2; 
                width:100%; padding:10px 5px; text-align: center;
                img {}}
        }
        .contents {
            background:#fff; width:500px; padding:30px;
            height:100vh; border:1px solid $fontColor2;
            display:flex; flex-flow:column nowrap; 
            .info {
                margin-bottom:30px; text-align: center;
                img{}
            }
            .info_contents {
                margin-bottom:30px; text-align: center;
                color:$fontColor2; line-height: 1.5;
            }
            .user {margin-bottom:30px;
                display:flex; flex-flow: row wrap;
                a {width:48%; margin-right:2%;
                    border-bottom:1px solid $fontColor2;
                    text-transform:uppercase; padding:10px 5px;
                    span{
                        color:$border;
                    }
                }
            }
            .board {
                display:flex; flex-flow: row wrap;
                margin-bottom:50px;
                a{
                    width:48%; margin-right:2%;
                    border-bottom:1px solid $fontColor2;
                    padding:10px 5px; text-transform:uppercase;
                }
            }
            h2 {margin-bottom:20px; font-weight: 700;}
            h2+p {img{width:40%; margin-bottom:20px; }}
            address {font-size:2.5rem; margin-left:-5px;}
            address+p {font-size:1.125rem; margin-top:20px;}
        }
    }//#right_popup end
    .visual {img{width:100%;}}
}//main end